h1, h2, h3, h4, a{
  margin: 0;

  text-decoration: none;
  font-family: sans-serif;
}

h3, h4, h5, h6 {
  font-weight: normal;
  font-family: sans-serif;
}

h1:first-of-type{
  color: #ccc;
}

button {
    /*background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    /*font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    /*-webkit-user-select: none; /* for button */
       /*-moz-user-select: none;*/
        /*-ms-user-select: none;*/*/*/*/
}

html, main {
  width: 100%;
  height: 100%;
}
#game-intro{
  padding-top: 35%;
  /* padding-top: 30%; */
  text-align: center;
  /* vertical-align: text-bottom; */
}

header {
  display: flex;
  justify-content: space-between;
  width: 109%;
}

header > nav {
  align-self: center;
  margin-left: 48px;
}

h3:first-of-type {
  margin-top: 10px;
}

h2, h3, h4{
  color: white;
}

nav > a {
  color: black;
  font-size: 30px;
  margin: 0 5px 0 5px;
}

nav > a:last-of-type{
  margin-left: 15px;
}

h1{
  font-family: sans-serif;
  color: white;
}
#game-container {
  width: 100%;
  font-size: 28px;
  height: 100%;
  margin: 0 auto;
  display: block;
  background-color: black;
  color: white;
  padding: 0 35px;
  /* text-align: center; */
}

.hidden {
  display: none;
}

#canvas {
    height: 100%;
    max-width: 800px;
    max-height: 95vh;
    background: black;
}

body {
  height: 95vh;
  /*max-height: 800px;*/
  max-width: 800px;
  margin: 0 auto;
}

#consumed {
  margin: 0 30px;
  vertical-align: center;
}

#game-complete{
  font-size: 32px;
}

#game-complete > a{
  color: white;
  margin: 10px;
  font-size: 50px;
}

#game-complete > button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: none;
  border: 1px solid white;
  font-size: 18px;
}
