html, body, main {
  height: 100%;
  width: 100%;
}
#game-container {
  width: 70vw;
  height: 90vh;
  margin: 0 auto;
  display: block;
  background-color: black;
  color: white;
}

.hidden {
  visibility: hidden;
}
